[phases.setup]
nixPkgs = ["nodejs-18_x", "maven"]

[phases.install]
cmds = [
  "npm install"
]

[phases.build]
cmds = [
  "npm run build",
  "mvn clean package -DskipTests"
]

[start]
cmd = "java -jar target/umascota-0.0.1-SNAPSHOT.jar"
